$white: #fffcf7;
$black: #0d0600;

$orange-400: #f5a623;

$blue-400: #0950b3;
$blue-100: #c2daf2;

$green-400: #61cc14;

$yellow-green-400: #9ecc14;
$yellow-green-500: #898713;
$yellow-green-600: #7e6512;

$brown-400: #734211;
